<h1>Authorize Re-entry</h1>

<table>
  <tr>
  <% for column in Student.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for student in @students %>
  <tr>
  <% for column in Student.content_columns %>
    <td><%=h student.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Authorize', :controller => 'student', :action => 'authorize_reentry', :id => student %></td>
   </tr>
<% end %>
</table>
