<h1>New Test Sequence</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Save new test sequence" %>
<% end %>
<p/>
<%= link_to 'Back', :action => 'list' %>
