<%= error_messages_for 'template_version' %>

<!--[form:template_version]-->
<p><label for="template_version_version">Version</label><br/>
<%= text_field 'template_version', 'version'  %></p>

<p><label for="template_version_template">Template</label><br/>
<%= text_area 'template_version', 'template', :size => "60x20"  %></p>
<!--[eoform:template_version]-->

