<%= error_messages_for 'recommendation' %>

<!--[form:recommendation]-->
<p><label for="recommendation_key_vector">Key vector</label><br/>
<%= text_field 'recommendation', 'key_vector'  %></p>

<p><label for="recommendation_rec">Rec</label><br/>
<%= text_area 'recommendation', 'rec'  %></p>

<p><label for="recommendation_tally">Tally</label><br/>
<%= text_field 'recommendation', 'tally'  %></p>
<!--[eoform:recommendation]-->

