<% for column in Recommendation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @recommendation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @recommendation %> |
<%= link_to 'Back', :action => 'list' %>
