<%= error_messages_for 'test_template' %>

<!--[form:test_template]-->
<p><label for="test_template_name">Name</label><br/>
<%= text_field 'test_template', 'name'  %></p>

<p><label for="test_template_description">Description</label><br/>
<%= text_field 'test_template', 'description'  %></p>

<p><label for="test_template_color">Color</label><br/>
<%= text_field 'test_template', 'color'  %></p>

<!--[eoform:test_template]-->

