<h1>New test_template</h1>

<%= error_messages_for("test_template") %>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>

<% form_for(:test_template, :action => 'create', :builder => ColorPickerFormBuilder) do |f| %>
	<p><label for="name">Name</label><br/>
	<%= f.text_field 'name'  %></p>

	<p><label for="description">Description</label><br/>
	<%= f.text_field 'description'  %></p>

	<p><label for="color">Color</label><br/>
	<%= f.color_picker :selected=> @test_template.color %>
<% end %>